# Environment variables
.env
.env.*

# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.so
.Python

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/
*.db

# Temporary / swap files
*.swp
*.swo
*~

# Misc
.env.local
.env
token.env
